<div style="margin-bottom: 5%">
  <div class="mr-pic-slider">
    <div class="top-banner">
        <div class="img-banner" style="background-image: url('assets/image/imgGroup.png')"></div>
        <!--<img height="100%" src="assets/image/imgGroup.png">-->
    </div>
  </div>
  <div style="margin-top: 5%;padding: 0 3%">
    <div style="padding: 2% 8%">
      <h2 [ngClass]="{'announce-zh': appService.usingLang == 'zh', 'announce-en': appService.usingLang == 'en'}">{{'philosophy' | translate}}</h2>
      <p style="color:#4b4b4b ">Some counterfeit and third party power adapters and batteries may not be designed properly and could result in safety issues.
        To ensure you receive a genuine Apple battery during a battery replacement, we recommend visiting an Apple Authorized Service
        Provider. If you need a replacement adapter to charge your Apple device, we recommend getting an Apple power adapter.</p>
    </div>
    <div class="banner-area">
      <div style="margin: 2% 0;">
        <div id="invest-lg">
          <div class="invest-block">
            <div class="desc-strip"><span class="lab-l"></span>
              <div class="info-content">
                <div *ngIf="appService.usingLang=='zh'">
                  <div class="quota-title">{{philosophyList[0].title.zh}}</div>
                  <div class="quota-content">{{philosophyList[0].content.zh}}</div>
                </div>
                <div *ngIf="appService.usingLang=='en'">
                  <div class="quota-title">{{philosophyList[0].title.en}}</div>
                  <div class="quota-content">{{philosophyList[0].content.en}}</div>
                </div>
              </div>
            </div>
            <div class="desc-strip" style="margin: 1.5rem 0;"><span class="lab-l"></span>
              <div class="info-content">
                <div *ngIf="appService.usingLang=='zh'">
                  <div class="quota-title">{{philosophyList[1].title.zh}}</div>
                  <div class="quota-content">{{philosophyList[1].content.zh}}</div>
                </div>
                <div *ngIf="appService.usingLang=='en'">
                  <div class="quota-title">{{philosophyList[1].title.en}}</div>
                  <div class="quota-content">{{philosophyList[1].content.en}}</div>
                </div>
              </div>
            </div>
            <div class="desc-strip"><span class="lab-l"></span>
              <div class="info-content">
                <div *ngIf="appService.usingLang=='zh'">
                  <div class="quota-title">{{philosophyList[2].title.zh}}</div>
                  <div class="quota-content">{{philosophyList[2].content.zh}}</div>
                </div>
                <div *ngIf="appService.usingLang=='en'">
                  <div class="quota-title">{{philosophyList[2].title.en}}</div>
                  <div class="quota-content">{{philosophyList[2].content.en}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="invest-block" style="background-image: url('assets/image/investment/img402.png')"></div>
        </div>
          <div id="invest-sm" style="display: none">
            <div class="invest-block-sm" style="background-image: url('assets/image/investment/img402.png')">
            </div>
            <div class="moto-block">
              <div class="desc-strip"><span class="lab-l"></span>
                <div class="info-content">
                  <div *ngIf="appService.usingLang=='zh'">
                    <div class="quota-title">{{philosophyList[0].title.zh}}</div>
                    <div class="quota-content">{{philosophyList[0].content.zh}}</div>
                  </div>
                  <div *ngIf="appService.usingLang=='en'">
                    <div class="quota-title">{{philosophyList[0].title.en}}</div>
                    <div class="quota-content">{{philosophyList[0].content.en}}</div>
                  </div>
                </div>
              </div>
              <div class="desc-strip" style="margin: .5rem 0;"><span class="lab-l"></span>
                <div class="info-content">
                  <div *ngIf="appService.usingLang=='zh'">
                    <div class="quota-title">{{philosophyList[1].title.zh}}</div>
                    <div class="quota-content">{{philosophyList[1].content.zh}}</div>
                  </div>
                  <div *ngIf="appService.usingLang=='en'">
                    <div class="quota-title">{{philosophyList[1].title.en}}</div>
                    <div class="quota-content">{{philosophyList[1].content.en}}</div>
                  </div>
                </div>
              </div>
              <div class="desc-strip"><span class="lab-l"></span>
                <div class="info-content">
                  <div *ngIf="appService.usingLang=='zh'">
                    <div class="quota-title">{{philosophyList[2].title.zh}}</div>
                    <div class="quota-content">{{philosophyList[2].content.zh}}</div>
                  </div>
                  <div *ngIf="appService.usingLang=='en'">
                    <div class="quota-title">{{philosophyList[2].title.en}}</div>
                    <div class="quota-content">{{philosophyList[2].content.en}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--<img width="100%" src="assets/image/investment/img402.png"></div>-->
      </div>
      <div class="main-zone">
        <div *ngIf="appService.usingLang=='zh'">
          <div class="row-group" *ngFor="let item of enterpriseList">
            <div *ngIf="item.index % 2 != 0" (click)="showIntroduce(item)">
              <div class="invest-wrap" [ngStyle]="{'background-image': 'url(' + item.img + ')'}">
                <!--<img src="assets/image/investment/imgPinBa.png">-->
                <div class="img-mask">
                  <div class="text-content">
                    {{item.introduce}}
                  </div>
                </div>
              </div>
              <div class="invest-wrap">
                <div class="logo-wrap">
                  <img src="{{item.logo}}">
                </div>
              </div>
            </div>
            <div *ngIf="item.index % 2 == 0" (click)="showIntroduce(item)">
              <div class="invest-wrap">
                <div class="logo-wrap">
                  <img src="{{item.logo}}">
                </div>
              </div>
              <div class="invest-wrap" [ngStyle]="{'background-image': 'url(' + item.img + ')'}">
                <!--<img src="assets/image/investment/imgPinBa.png">-->
                <div class="img-mask">
                  <div class="text-content">
                    {{item.introduce}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="appService.usingLang=='en'">
          <div class="row-group" *ngFor="let item of enterpriseListEn">
            <div *ngIf="item.index % 2 != 0" (click)="showIntroduce(item)">
              <div class="invest-wrap" [ngStyle]="{'background-image': 'url(' + item.img + ')'}">
                <!--<img src="assets/image/investment/imgPinBa.png">-->
                <div class="img-mask">
                  <div class="text-content">
                    {{item.introduce}}
                  </div>
                </div>
              </div>
              <div class="invest-wrap">
                <div class="logo-wrap">
                  <img src="{{item.logo}}">
                </div>
              </div>
            </div>
            <div *ngIf="item.index % 2 == 0" (click)="showIntroduce(item)">
              <div class="invest-wrap">
                <div class="logo-wrap">
                  <img src="{{item.logo}}">
                </div>
              </div>
              <div class="invest-wrap" [ngStyle]="{'background-image': 'url(' + item.img + ')'}">
                <!--<img src="assets/image/investment/imgPinBa.png">-->
                <div class="img-mask">
                  <div class="text-content">
                    {{item.introduce}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-mask" *ngIf="showMask">
  <div class="intro-modal">
    <div class="modalheader"><span class="close-x" (click)="showMask=false">&times;</span></div>
    <p class="intro-content">
      <img src="{{showEnterprise.logo}}">
      {{showEnterprise.introduce}}
     </p>
  </div>
</div>
