@media screen and (min-width: 800px){
  .invest-block{
    display: inline-block;
    width: 49.5%;
    height: 27rem;
    vertical-align: top;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .desc-strip{
    display: flex;
    position: relative;
    min-height: 8rem;
    align-items: center;
    background-color: #f7f4eb;
    padding-left: 1.5rem;
  }
  .invest-wrap{
    position: relative;
    display: inline-block;
    width: 49.5%;
    height: 24rem;
    vertical-align: top;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img-mask{
    display: block !important;
  }
  .lab-l{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1rem;
    background-color: #e6d8c4;
    margin-right: .6rem;
  }
}
@media screen and (max-width: 1200px){
  #invest-lg{
    display: none;
  }
  #invest-sm{
    display: block !important;
  }
  .invest-block-sm{
    width: 100%;
    height: 18rem;
    vertical-align: top;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .moto-block{
    margin-top: 2%;
    width: 100%;
  }
  .desc-strip{
    display: flex;
    position: relative;
    height: 8rem;
    align-items: center;
    padding-left: 1.5rem;
    background-color: #f7f4eb;
  }
  .lab-l{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1rem;
    background-color: #e6d8c4;
    margin-right: .6rem;
  }
}
@media screen and (max-width: 800px){
  .img-mask{
    display: none;
  }
  .invest-wrap{
    position: relative;
    display: inline-block;
    width: 49.5%;
    height: 12rem;
    vertical-align: top;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.quota-title{
  font-size: .9rem;
  font-style: italic;
}
.quota-content{
  font-size: .8rem
}
.info-content{
  display: flex;
  height: 100%;
  align-items: center;
  flex-flow: wrap;
}
.invest-wrap img{
  width: 100%;
}
.invest-wrap:hover .img-mask{
  opacity: 1;
  z-index: 5;
}
.main-zone{
  margin-top: 5%;
}
.logo-wrap{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.logo-wrap img{
  width: 60%;
  cursor: pointer;
}
.img-mask{
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, .7);
  transition: opacity .35s linear;
}
.text-content{
  display: flex;
  padding: .5rem 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  color: white;
  font-size: .8rem;
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.banner-area{
  position: relative;
}
.bg-mask{
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  animation: fade_in .2 linear;
  z-index: 100;
}
.modalheader{
  text-align: right;
  padding: 0 1rem .2rem;
  border-bottom: 1px solid #c8c8c8;
}
.intro-modal{
  width: 86%;
  border: 1px solid #ccc;
  border-radius: .5rem;
  background-color: #fff;
}
.intro-content{
  position: relative;
  max-height: 36rem;
  overflow: auto;
  font-size: 1.2rem;
  color: #525252;
  padding: 1.5rem;
}
.intro-content img{
  width: 30%;
  margin-left: .6rem;
  margin-bottom: .6rem;
  float: right;
}
.close-x{
  font-size: 2rem;
  color: #808080;
}

