
.banner-bg{
  display: flex;
  width: 100%;
  padding: 1.5rem auto;
  margin-bottom: 3%;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-desc{
  display: inline-block;
  width: 20rem;
  max-width: 90%;
  margin: 4.6% 5% 4%;
  padding: 3.5% 3.2%;
  color: #525252;
  font-size: 1rem;
  border-radius: .5rem;
  background-color: rgba(255,255,255,.9);

}
.wrap-out{
  display: inline-block;
  width: 16%;
  margin: 3% 0;
  position: relative;
}
.wrap-out img{
  width: 100%;
}
.ban-title{
  color: #fff;
  font-size: 1.1rem;
  margin-top: 1rem;
  text-align: center;
}
