.banner-bg{
  display: flex;
  width: 100%;
  padding: 30px auto;
  margin-bottom: 3%;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-desc{
  display: inline-block;
  width: 36%;
  margin-top: 4.6%;
  margin-left: 5%;
  padding: 3.2% 3.6%;
  color: #525252;
  font-size: 23px;
  border-radius: 10px;
  background-color: rgba(255,255,255,.9);

}
.wrap-out{
  display: inline-block;
  width: 190px;
  margin: 3% 0;
}
.ban-title{
  color: #fff;
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
}
