.member-clock{
  display: inline-block;
  width: 15rem;
  margin: 0 1rem 1.5rem;
}
.photo-wrap{
  display: inline-block;
  width: 15rem;
  height: 20rem;
  background-position: center;
  background-size: contain;
}
.banner-desc-box{
  display: inline-block;
  width: 26%;
  max-width: 80%;
  margin-top: 5%;
  margin-left: 2.5%;
  font-size: 1.2rem;
  color: #525252;
  padding: 1%;
  line-height: 2;
}
