.logo-toprow{
  text-align: center;
  background-color: #f9f7f1;
  padding: 2%;
}
@media screen and (min-width: 800px) {
  .logo-toprow img{
    width: 16%
  }
  .dropdown-bar{
    display: none !important;
  }
  .bar-pos{
    display: block !important;
  }
}
@media screen and (max-width: 800px) {
  .logo-toprow img{
    width: 30%
  }
  .dropdown-bar{
    display: flex !important;
  }
  .bar-pos{
    display: none !important;
  }

}
.dropdown-bar{
  position: relative;
  padding: 0 .3rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f7f1;
  z-index: 5;
}
.drop-menu{
  top: 3rem;
  left: 0;
  right: 0;
  position: absolute;
  padding: 1rem 1.2rem;
  border-top: 1px solid #e4e4e4;
  background-color: #f9f7f1;
  z-index: 3;
  animation: drag_down .2s ease-out;
}
.drop-menu li{
  padding: .6rem 0;
}
.drop-menu a{
  font-size: 1.2rem;
  color: #525252;
  text-decoration: none;
}
.drop-menu li:active{
  background-color: #e4e4e4;
}
@keyframes drag_down {
  from{
    transform: translate(0, -16.4rem);
  }
  to{
    transform: translate(0, 0);
  }
}
.drop-icon{
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  background-position: center;
  background-size: contain;
  background-image: url('../assets/icon/menuIcon.png');
}
.bar-pos{
  position: relative;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  background-color: #f9f7f1;
  z-index: 1000;
}
.morow-navbar{
  width: 100%;
  list-style-type: none;
  text-align: center;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
@media screen and (min-width: 1200px) {
  .mr-bar-tab{
    position: relative;
    display: inline-block;
    font-size: .8rem;
    line-height: 2.75rem;
    width: 7rem;
    height: 2.75rem;
    transform: skew(-10deg);
    text-align: center;
    cursor: pointer;
    bottom: 0;
  }
}
@media screen and (max-width: 1200px) {
  .mr-bar-tab{
    position: relative;
    display: inline-block;
    font-size: .8rem;
    line-height: 2.75rem;
    width: 6.5rem;
    height: 2.75rem;
    transform: skew(-10deg);
    text-align: center;
    cursor: pointer;
    bottom: 0;
  }
}
.reskew{
  transform: skew(10deg);
}
.mr-active{
  color: #fefefe;
  background-color: #360203;
}
@media screen and (min-width: 800px) {
  .copyright-p{
    display: inline-block;
    color: #828282;
    font-size: 1rem;
  }
  .mr-footer{
    padding: 2rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    background-color: #f7f4eb;
  }
  .footer-logo{
    display: inline-block;
  }
  .footer-logo img{
    width: 72%;
  }
}
@media screen and (max-width: 800px) {
  .mr-footer{
    position: relative;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
    background-color: #f7f4eb;
  }
  .copyright-p{
    margin: 0 1rem;
    color: #828282;
    font-size: .8rem;
    text-align: center;
  }
  .footer-logo{
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }
  .footer-logo img{
    width: 26%;
  }
}
.bg-transparent{
  background-color: transparent !important;
}
.dropdown-a{
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: .35rem;
  font-style: normal;
  border-color: #360203 transparent transparent transparent;
  border-top-color: inherit;
  border-style: solid;
  cursor: pointer;
  vertical-align: middle;
  margin-left: .15rem;
  top: .1rem;
}
.lang-tab{
  position: absolute;
  display: inline-block;
  font-size: .8rem;
  line-height: 2.75rem;
  width: 6rem;
  text-align: center;
  color: #5b5b5b;
  height: 2.75rem;
  text-align: center;
  bottom: 0;
  right: 1.2%;
}
.lang-mobile{
  display: inline-block;
  font-size: 1.2rem;
  color: #525252;
  text-align: center;
  bottom: 0;
  margin-left: .5rem;
  padding-top: .2rem;
}
.lang-tab span:hover{
  cursor: pointer;
}
.lang-ls{
  display: inline-block;
  position: absolute;
  width: 6rem;
  right: 1.2%;
  background-color: #f9f7f1;
  top: 100%;
  color: #525252;
  padding-bottom: .3rem;
}
.lang-ls li{
  margin:  0;
  line-height: 1.8rem;
  cursor: pointer;
}
.lang-ls-mobile{
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  background-color: #f9f7f1;
  border: 1px solid #e9e9e9;
  z-index: 5;
}
.ls-divider{
  border-bottom: 1px solid #eaeaea;
}
.lang-ls-mobile li{
  text-align: center;
  line-height: 3.2rem;
  color: #737373;
  cursor: pointer;
}
.lang-ls-mobile li:active{
  background-color: #f1f1f1;
}
.lang-ls li:hover{
  color: #a2a2a2;
}
