<!--The content below is only a placeholder and can be replaced.-->
<div class="dropdown-bar">
  <ul class="drop-menu" *ngIf="menuDrop">
    <li><a>{{'menu1' | translate}}</a></li>
    <li><a>{{'menu2' | translate}}</a></li>
    <li><a>{{'menu3' | translate}}</a></li>
    <li><a>{{'menu4' | translate}}</a></li>
    <li><a>{{'menu5' | translate}}</a></li>
    <li><a>{{'menu6' | translate}}</a></li>
  </ul>
  <div class="lang-mobile"><div ><span (click)="langShow=!langShow">{{'changeLang' | translate}}
        <i class="dropdown-a"></i></span></div>
    <ul class="lang-ls-mobile" *ngIf="langShow">
      <li (click)="setLanguage('zh')">中文</li>
      <li (click)="setLanguage('en')">English</li>
    </ul>
  </div>
  <span class="drop-icon" (click)="menuDrop=!menuDrop"></span>
</div>
<div class="logo-toprow">
  <img src="assets/image/logoCh.png">
</div>
<div class="bar-pos">
  <div>
    <ul class="morow-navbar">
      <!--<li style="width: 20%;padding-top: 16px;"><img src="../assets/image/imgMorowLogo.png" height="60"></li>-->
      <li (click)="nowTab=1" (click)="routeNav('home')" class="mr-bar-tab" [class.mr-active]="nowTab==1"><div class="reskew">{{'menu1' | translate}}</div></li>
      <li class="mr-bar-tab" [class.mr-active]="nowTab==2" (click)="nowTab=2" (click)="routeNav('about')"><div class="reskew">{{'menu2' | translate}}</div></li>
      <li class="mr-bar-tab" [class.mr-active]="nowTab==3" (click)="nowTab=3" (click)="routeNav('group')"><div class="reskew">{{'menu3' | translate}}</div></li>
      <li class="mr-bar-tab" [class.mr-active]="nowTab==4" (click)="nowTab=4" (click)="routeNav('investment')"><div class="reskew">{{'menu4' | translate}}</div></li>
      <li class="mr-bar-tab" [class.mr-active]="nowTab==5" (click)="nowTab=5" (click)="routeNav('news')"><div class="reskew">{{'menu5' | translate}}</div></li>
      <li class="mr-bar-tab" [class.mr-active]="nowTab==6" (click)="nowTab=6" (click)="routeNav('wanted')"><div class="reskew">{{'menu6' | translate}}</div></li>
      <!--<li class="mr-bar-tab" [class.mr-active]="nowTab==7" (click)="nowTab=7"><div class="reskew">联系我们</div></li>-->
    </ul>
      <div class="lang-tab"><div><span (click)="langShow=!langShow">
        {{'changeLang' | translate}}<i class="dropdown-a"></i></span></div>
        <ul class="lang-ls" *ngIf="langShow">
          <li (click)="setLanguage('zh')">中文</li>
          <li (click)="setLanguage('en')">English</li>
        </ul>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="mr-footer">
  <div class="footer-logo"><img src="../assets/image/logoCh.png"></div>
  <p class="copyright-p">Copyright©️ 1996-2016 Wemerge Ventures. All rights reserved</p>
</div>
