<div style="margin-bottom: 5%">
  <div class="mr-pic-slider">
    <div class="top-banner">
      <div class="img-banner" style="background-image: url('assets/image/imgActivities.png')"></div>
    </div>
        <!--<img height="100%" src="assets/image/imgActivities.png">-->
  </div>
  <div style="margin-top: 5%;padding: 0 8%">
    <div style="margin-top: 5%">
      <div style="margin-bottom: 2%" *ngFor="let news of newsList">
        <div class="news-pic"><img src="{{news.img}}"></div>
        <div class="news-content" *ngIf="appService.usingLang == 'zh'">
          <a class="news-title">{{news.title.zh}}</a>
          <p>{{news.summary.zh}}</p>
        </div>
        <div class="news-content" *ngIf="appService.usingLang == 'en'">
          <a class="news-title">{{news.title.en}}</a>
          <p>{{news.summary.en}}</p>
        </div>
      </div>
      <div style="margin-top: 3%;text-align: center">
        <ul class="mr-page">
          <li class="page-bt">{{'previous' | translate}}</li>
          <li class="page-bt">1</li>
          <li class="page-bt">2</li>
          <li class="page-bt">3</li>
          <li class="page-bt">...</li>
          <li class="page-bt">6</li>
          <li class="page-bt">{{'next' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
