.banner-area{
  margin-top: 2%;
  text-align: center;
}
@media screen and (min-width: 800px){
  .mr-wanted-block{
    display: inline-block;
    position: relative;
    width: 20rem;
    max-width: 100%;
    margin: 0 .5rem 1rem
  }
  .img-area{
    width: 100%;
    max-width: 100%;
    height: 15rem;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 800px){
  .mr-wanted-block{
    display: inline-block;
    position: relative;
    width: 25rem;
    max-width: 100%;
    margin: 0 .5rem 1rem
  }
  .img-area{
    width: 100%;
    max-width: 100%;
    height: 15rem;
    background-size: cover;
    background-position: center;
  }
}
.intro-area{
  height: 13rem;
  padding: .5rem 1rem;
  background-color: #f7f4dd;
  font-size: 1rem;
  color: #525252;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}
.readdetail-bot{
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.2rem;
  color: #360203;
  background-color: #d7c6ae;
}
.readdetail-bot a{
  color: #360203;
}
.readdetail-bot a:hover{
  cursor: pointer;
  text-decoration: underline;
}
