<div style="margin-bottom: 5%">
  <div class="mr-pic-slider">
    <div class="top-banner">
      <div class="img-banner" style="background-image: url('assets/image/imgJoinUs.png')"></div>
      <!--<img width="100%" src="assets/image/imgJoinUs.png">-->
    </div>
  </div>
  <div style="margin-top: 5%;padding: 0 3%">
    <div style="padding: 2% 8%">
      <h3 [ngClass]="{'announce-zh': appService.usingLang == 'zh', 'announce-en': appService.usingLang == 'en'}">
        {{'wanted' | translate}}</h3>
      <p style="color:#4b4b4b " *ngIf="appService.usingLang=='zh'">{{wantedInfo}} </p>
      <p style="color:#4b4b4b " *ngIf="appService.usingLang=='en'">{{wantedInfoEn}} </p>
    </div>
    <div class="banner-area">
      <div class="mr-wanted-block" *ngFor="let item of infobanList">
        <div class="img-area" style="background-image: url('assets/image/wanted/wantedimg.jpg')"></div>
        <div class="intro-area">
          <div style="font-size: 1.3rem;">{{'introduction' | translate}}</div>
          China is an old country, full of beauty
          and fascination. She has 56 ethnic groups, complex and varied terrains, rich and diverse natural resources, long and
          brilliant history and culture, magnificent and enchanting sceneries. These are tempting visitors all over the world
          to witness her strength, beauty, and impossibly hard language
        </div>
        <div class="readdetail-bot"><a>{{'forDetail' | translate}} </a></div>
      </div>
    </div>
  </div>
</div>
