/* You can add global styles to this file, and also import other style files */
@media screen and (min-width: 800px){
  html{
    font-size: 20px !important;
  }
  .mr-pic-slider{
    position: relative;
    height: 36rem;
    width: 100%;
  }
}
@media screen and (max-width: 800px){
  html{
    font-size: 12px !important;
  }
  .mr-pic-slider{
    position: relative;
    height: 18.6rem;
    width: 100%;
  }
}
.img-banner{
  position: relative;
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-banner{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}
ul{
  list-style-type: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

