
.slider-ls{
  list-style-type: none;
  text-align: center;
  width: 100%;
}
.slider-ls li{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
.slider-ls .img-banner{
  opacity: 0;
  transition: opacity .5s linear;
}
.img-active{
  opacity: 1 !important;
}
.slider-ctrl{
  position: absolute;
  width: 100%;
  bottom: 2%;
  text-align: center;
  background-color: transparent;
  z-index: 10;
}
.ctrl-dot{
  display: inline-block;
  margin: 0 .75rem;
  width: .8rem;
  height: .8rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(125,125,125,.8);
}
.dot-active{
  background-color: rgba(255,255,255,.8);
}
.pic-setls{
  width: 100%;
  white-space: nowrap;
  transition: transform .42s ease-out;
}
@media screen and (min-width: 1200px){
  .v-poster{
    height: 8.1rem;
    background-size: cover;
    background-position: center;
  }
  .pic-setls li{
    position: relative;
    width: 20%;
    display: inline-block;
  }
  .mr-arrow img {
    width: 80%;
  }
}
@media screen and (max-width: 1200px){
  .pic-setls li{
    position: relative;
    width: 33.3333%;
    display: inline-block;
  }
  .v-poster{
    height: 10.2rem;
    background-size: cover;
    background-position: center;
  }
  .mr-arrow{
    margin-top: 3.5rem !important;
  }
  .mr-arrow img {
    width: 60%;
  }
  .abs-r{
    right: -20px !important;
  }
}
@media screen and (max-width: 800px){
  .pic-setls li{
    position: relative;
    width: 100%;
    display: inline-block;
  }
  .v-poster{
    height: 14rem;
    background-size: cover;
    background-position: center;
  }
  .mr-arrow{
    margin-top: 4.2rem !important;
  }
  .mr-arrow img {
    width: 60%;
  }
  .abs-r{
    right: -20px !important;
  }
  .main-video{
    display: none;
  }
}
.pic-setls img{
  width: 100%;
  height: 100%;
}
.mr-arrow{
  position: absolute;
  color: #fff;
  margin-top: 2rem;
  z-index: 10;
}
.abs-l{
  left: 0;
}
.abs-r{
  right: -10px;
}
.mr-arrow img{
  opacity: .9;
}
.mr-arrow img:hover{
  opacity: 1;
  cursor: pointer;
}
.mr-video-title{
  font-size: .8rem;
  color: #5b5b5b;
  text-align: center;
}
.overshow{
  overflow: visible !important;
}
@keyframes h-scroll {
  0%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-5%);
  }
  50%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(-15%);
  }
  100%{
    transform: translateX(-20%);
  }
}
.video-rowbot{
  position: relative;
  width: 100%;
  overflow-x: hidden
}
.content-area{
  margin-top: 5%;
  padding: 0 8%
}
.arr-more{
  display: inline-block;
  width: 1.2rem;
  height: 2rem;
  margin: 0 .3rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../assets/icon/icon_more.png');
  vertical-align: top;
}
.news-title{
  color: #5b5b5b;
  font-size: 1.3rem;
  font-weight: 500;
}
@media screen and (min-width: 800px){
  .news-pic{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 42%
  }
  .news-content{
    display: inline-block;
    width: 52%;
    margin-left: 4.5%;
    vertical-align: top;
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px){
  .news-pic{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%
  }
  .news-content{
    width: 100%;
    margin-top: .2rem;
    vertical-align: top;
    font-size: 1rem;
  }
}
.more-news{
  font-size: 1.3rem;
  color: #c0986a;
  cursor: pointer
}
.news-pic img{
  width: 100%;
}
