
.slider-ls{
  list-style-type: none;
  text-align: center;
  width: 100%;
}
.slider-ls li{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
.slider-ls .img-banner{
  opacity: 0;
  transition: opacity .5s linear;
}
.img-active{
  opacity: 1 !important;
}
.slider-ctrl{
  position: absolute;
  width: 100%;
  bottom: 2%;
  text-align: center;
  background-color: transparent;
  z-index: 1;
}
.ctrl-dot{
  display: inline-block;
  margin: 0 .75rem;
  width: .8rem;
  height: .8rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(125,125,125,.8);
}
.dot-active{
  background-color: rgba(255,255,255,.8);
}
.pic-setls{
  width: 100%;
  white-space: nowrap;
  transition: transform .42s ease-out;
}
@media screen and (min-width: 800px){
  .v-poster{
    height: 8.1rem;
    background-size: cover;
    background-position: center;
  }
  .pic-setls li{
    position: relative;
    width: 25%;
    display: inline-block;
  }
  .abs-l{
    left: 0rem;
  }
  .abs-r{
    right: 0rem;
  }
}
@media screen and (max-width: 800px){
  .pic-setls li{
    position: relative;
    width: 100%;
    display: inline-block;
  }
  .v-poster{
    height: 14rem;
    background-size: cover;
    background-position: center;
  }
  .abs-l{
    left: 0;
  }
  .abs-r{
    right: 0;
  }
  .main-video{
    display: none;
  }
}
.pic-setls img{
  width: 100%;
  height: 100%;
}
.mr-arrow-l{
  position: absolute;
  width: 2rem;
  height: 5rem;
  top: 50%;
  margin-top: -4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../assets/icon/arrow_pre.png');
  z-index: 10;
  opacity: 0.8;
}
.mr-arrow-r{
  position: absolute;
  width: 2rem;
  height: 5rem;
  top: 50%;
  margin-top: -4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../assets/icon/arrow_next.png');
  z-index: 10;
  opacity: 0.8;
}
.mr-arrow-l:hover{
  cursor: pointer;
  opacity: 1;
}
.mr-arrow-r:hover{
  cursor: pointer;
  opacity: 1;
}
.mr-arrow img{
  opacity: .86;
}
.mr-arrow img:hover{
  opacity: 1;
  cursor: pointer;
}
.mr-video-title{
  font-size: .8rem;
  color: #5b5b5b;
  text-align: center;
}
.overshow{
  overflow: visible !important;
}
@keyframes h-scroll {
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-5%);
  }
  50%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(-15%);
  }
  100%{
    transform: translateX(-25%);
  }
}
.video-rowbot{
  position: relative;
  width: 100%;
  overflow-x: hidden
}
.content-area{
  margin-top: 5%;
  padding: 0 8%
}
.arr-more{
  display: inline-block;
  width: 1.2rem;
  height: 1.8rem;
  margin: 0 .3rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../assets/icon/icon_more.png');
  vertical-align: top;
}
.more-news{
  font-size: 1.3rem;
  color: #c0986a;
  cursor: pointer
}
.announce-zh{
  color: #5b5b5b;
  margin-bottom: 3%
}
.announce-en{
  color: #c0986a;
  font-style: italic;
  margin-bottom: 3%
}

